body {background-color: #e6e6fa; color: #191970; font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {background-color: #191970; color: #e6e6fa; font-family: Georgia, 'Times New Roman', Times, serif;}

h2 {background-color: #aeaed4; font-family: Georgia, 'Times New Roman', Times, serif;}

footer { font-family: 'Courier New', Courier, monospace;}